src/conf/xml-resources/web-service-references/admin/wsdl/localhost_8080/api/admin.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://admin/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://admin/">

<xs:element name="getCustomers" type="tns:getCustomers" />

<xs:element name="getCustomersResponse" type="tns:getCustomersResponse" />

<xs:element name="logging" type="tns:logging" />

<xs:element name="loggingResponse" type="tns:loggingResponse" />

<xs:complexType name="logging">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loggingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCustomers">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getCustomersResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>