web/WEB-INF/wsdl/localhost_8080/api/admin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://admin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://admin/" name="admin">
<types>
<xsd:schema>
<xsd:import namespace="http://admin/" schemaLocation="http://localhost:8080/api/admin?xsd=1" />
</xsd:schema>
</types>
<message name="AddProduct">
<part name="parameters" element="tns:AddProduct" />
</message>
<message name="AddProductResponse">
<part name="parameters" element="tns:AddProductResponse" />
</message>
<message name="EditProduct">
<part name="parameters" element="tns:EditProduct" />
</message>
<message name="EditProductResponse">
<part name="parameters" element="tns:EditProductResponse" />
</message>
<message name="getProducts">
<part name="parameters" element="tns:getProducts" />
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse" />
</message>
<message name="logging">
<part name="parameters" element="tns:logging" />
</message>
<message name="loggingResponse">
<part name="parameters" element="tns:loggingResponse" />
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers" />
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse" />
</message>
<portType name="admin">
<operation name="AddProduct">
<input wsam:Action="http://admin/admin/AddProductRequest" message="tns:AddProduct" />
<output wsam:Action="http://admin/admin/AddProductResponse" message="tns:AddProductResponse" />
</operation>
<operation name="EditProduct">
<input wsam:Action="http://admin/admin/EditProductRequest" message="tns:EditProduct" />
<output wsam:Action="http://admin/admin/EditProductResponse" message="tns:EditProductResponse" />
</operation>
<operation name="getProducts">
<input wsam:Action="http://admin/admin/getProductsRequest" message="tns:getProducts" />
<output wsam:Action="http://admin/admin/getProductsResponse" message="tns:getProductsResponse" />
</operation>
<operation name="logging">
<input wsam:Action="http://admin/admin/loggingRequest" message="tns:logging" />
<output wsam:Action="http://admin/admin/loggingResponse" message="tns:loggingResponse" />
</operation>
<operation name="getCustomers">
<input wsam:Action="http://admin/admin/getCustomersRequest" message="tns:getCustomers" />
<output wsam:Action="http://admin/admin/getCustomersResponse" message="tns:getCustomersResponse" />
</operation>
</portType>
<binding name="adminPortBinding" type="tns:admin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="AddProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EditProduct">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="logging">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="admin">
<port name="adminPort" binding="tns:adminPortBinding">
<soap:address location="http://localhost:8080/api/admin" />
</port>
</service>
</definitions>